{% extends "layout.html" %}
{% block content %}
<div class="home-center">
	<div class="col-md-4">
	<div class="row justify-content-center align-items-center">
	  <div>
		<h1 style="color:white;">About PiedPiper<br/><br/></h1>
		<p 
		style = "color:white;   
		display: flex;
		align-items: center;
		justify-content: center;"> PiedPiper is a music streaming website. Once logged in, we allow our users to listen to music from a library of over 400 songs. Our front-end utilizes HTML/CSS and our back-end is written in Flask. Our user's login information and the music is stored in a sqlite database. <br/><br/><br/><br/></p>
	  </div>
	</div>
</div>
</div>
{% endblock content %}
