{% extends "layout.html" %}
{% block content %}

<div style="background-image: linear-gradient(to bottom right, green, purple); height: 100vh; overflow: hidden; padding-top: 100px; padding-bottom: 25px">

	<form class="search-bar" action="" autocomplete="off"  accept-charset="utf-8">
        <input name="searchtext" id="myInput" class="form-control" type="search" placeholder="Search Songs/Artists" onkeyup="myFunction()">
    </form>

	<div class="table-scroll"> <!--className="flex-grow-1 my-2" class="music-list" style="overflow-y: auto;">-->
		<table class="styled-table" id="myTable">
			<thead>
				<tr>
					<th>Album</th>
					<th>Song</th>
					<th>Artist</th>
				</tr>
			</thead>
				{% for image,song,artist,path in music_table %}
				<tr>
					<td><img src="{{ image }}" alt="album_cover" width="100px" height="100px"></td>

					<td><a href="#" onclick='playSong("{{path}}")'> {{song}}</a></td>
					<td><p> {{artist}}</p></td>
				</tr>
				{% endfor %}
		</table>
	</div>

	<div><audio class="music-player" controls="controls" autoplay="autoplay" ></audio></div>

	<script type="text/javascript">
		function playSong(path){
			$('audio').attr('src', path)
		}
		/*function playSong(song){
			$('audio').attr('src', '/static/music/' +song)
		}*/
		function myFunction() {
			// Declare variables
			var input, filter, table, tr, td, td1, i, txtValue, txtValue1;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");

			// Loop through all table rows, and hide those who don't match the search query
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[1];
				td1 = tr[i].getElementsByTagName("td")[2];
				console.log(td1)
				if (td || td1) {
				txtValue = td.textContent || td.innerText;
				txtValue1 = td1.textContent || td1.innerText;
				if ((txtValue.toUpperCase().indexOf(filter) > -1) || (txtValue1.toUpperCase().indexOf(filter) > -1)) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
				}
			}
			}
	</script>
</div>
{% endblock content %}